.item1 {
    grid-column: 1 / span 7;
    grid-row: 1;
  }
  
  .item2 {
    grid-column: 8;
    grid-row: 1 / span 2;
  }
  
  .item5 {
    grid-column: 1 / span 8;
    grid-row: 3;
  }
.item3{
    grid-column: 1 /span 4
}
.item4{
    grid-column: 5 /span 3;
    grid-row: 2;
}

.item5{

}

.item6{

}

.item7{

}

.item8{

}

.item9{

}

.item10{

}

.item11{

}

.item12{

}

.item13{

}

.item14{

}

.item15{

}

.item16{

}

.item17{

}

.item18{

}

.item19{

}

.item20{

}

.item21{

}

.item22{

}

.item23{

}

.item24{

}

.item25{

}

.item26{
}

.item27{
}

.item28{

}

.item27{

}

.item28{
  
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    overflow: hidden;
}