.item1 {
    grid-column: 1 / span 7;
    grid-row: 1;
  }
  
  .item2 {
    grid-column: 4;
    grid-row: 1 / span 2;
  }
  
  .item5 {
    grid-column: 3 / span 8;
    grid-row: 3;
  }
.item3{
    grid-column: 1 /span 4
}
.item4{
    grid-column: 4 /span 3;
    grid-row: 2;
}

.item5{
grid-column: 1;
grid-row: ;;
}

.item6{
grid-column: 4;
grid-row:  
}

.item7{
grid-column: 4;
grid-row: 
}

.item8{
grid-column: 3;
grid-row: 
}

.item9{
grid-column: 1;
grid-row: 
}

.item10{
grid-column: 1;
grid-row: 
}

.item11{
grid-column: 4;
grid-row: 
}

.item12{
grid-column: 1;
grid-row: 
}

.item13{
grid-column: 4;
grid-row: 
}

.item14{
grid-column: 1;
grid-row: 
}

.item15{
grid-column: 4;
grid-row: 
}

.item16{
grid-column: 1;
grid-row: 
}

.item17{
grid-column: 4;
grid-row: ;
}

.item18{
grid-column: 1;
grid-row: 
}

.item19{
grid-column: 4;
grid-row: ;
}

.item20{
grid-column: 1;
grid-row: ;
}

.item21{
grid-column: 4;
grid-row: ;
}

.item22{
grid-column: 1;
grid-row: ;
}

.item23{
grid-column: 4;
grid-row: ;
}

.item24{
grid-column: 1;
grid-row: ;
}

.item25{
grid-column: 1;
grid-row: ;
}

.item26{
 grid-column: 1; 
grid-row: ;
}

.item27{
grid-column: 4;
grid-row: ;
}

.item28{
grid-column: 1;
grid-row: ;
}

.item27{
grid-column: 4;
grid-row: ;
}

.item28{
grid-column: 1;
grid-row: ;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    overflow: hidden;
}